<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Répartition et évolution des aides perçues au titre de la PAC sur le territoire français." />
        <meta name="author" content="Denis Roussel <denis.roussel@gmail.com>" />
        <meta name="author" content="Morgan Brunot <brunot.morgan@gmail.com>" />
        <title>MaPAC {% block title '' %}</title>
        <link rel="stylesheet" href="/css/main.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    </head>
    <body>
        <div class="panels">
            <div class="panel panel-inverse panel-left">
            </div>
        </div>
        <div class="panel-content">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner docs-navbar-inner">
                    <div class="container">
                        <a href="#menu" class="menu-trigger meteocon" data-meteocon="M" data-toggle="panel" data-target="#menu"></a>
                        <div class="nav-collapse collapse">
                            <nav id="menu">
                                <ul class="nav docs-navbar-menu">
                                    <li><a class="brand" href="{{ path('home') }}">MaPAC</a></li>
                                </ul>
                                <div class="navbar-text pull-right">
                                    Par <a href="https://twitter.com/oziks" title="Morgan Brunot">@oziks</a> et <a href="https://twitter.com/dondouny" title="Denis Roussel">@dondouny</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            {% block content '' %}
        </div>

        <script type="text/javascript">
            var _gauges = _gauges || [];
            (function() {
                var t   = document.createElement('script');
                t.type  = 'text/javascript';
                t.async = true;
                t.id    = 'gauges-tracker';
                t.setAttribute('data-site-id', '52c6bcd3e32bb4792f0003ef');
                t.src = '//secure.gaug.es/track.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(t, s);
            })();
        </script>
    </body>
</html>