


<div class="splash">
    <div class="row">
        <div class="col-md-4">
            <div class="l-box splash-image">
                {% block image '' %}
                {#<img src="http://placehold.it/500x350"
                     alt="Placeholder image for example.">#}
            </div>
        </div>

        <div class="col-md-8">
            <div class="l-box splash-text">
                <h1 class="splash-head">
                    {% block title '' %}
                    {#Yatse, the XBMC remote#}
                </h1>

                <h2 class="splash-subhead">
                    {% block desc '' %}
                    {#The HTML and CSS for this layout show how you can make a modern, responsive landing page for your next product. Browse through the source to see how we use menus and responsive grids to create this layout. Shrink your browser width and watch the layout transform and play nice with small screens.#}
                </h2>

                <p>
                    {#<a href="#" class="pure-button primary-button">Get Started</a>#}
                    {% block links '' %}

                    {#"{% include "layout/_yatse_buy_now.twig" %}#}
                </p>
            </div>
        </div>
    </div>
</div>