{% extends "layout/_main.twig" %}

{% block content %}
<h1>PAc</h1>

<p>Présentation du site</p>

<label>Plus grosse 2012</label>
<table>
    {% for subvention in biggestAmount %}
    <tr>
        <td>{{ subvention.company }}</td>
        <td>{{ subvention.company.postalCode }}</td>
        <td>{{ subvention.amount }}</td>
    </tr>
    {% endfor %}
</table>

<label>Geocodeur plus grosse 2012</label>
<table></table>
{% endblock %}
