{% extends "layout/_main.twig" %}

{% block title %}
Pac - Le site qui déboite
{% endblock %}

{% block content %}
<h1>Troubleshooting payment problems</h1>


Here are the most common reasons you could experience payment problems on the Google Play Store :

<ul>
<li><span>No credit card:</span> personal choice, external reason or different culture, many people don't have any credit card. You might still be able to pay on Google Play thanks to direct carrier billing (if available) or gift cards. Or, of course, by borrowing a credit card from a friend, that you'll be able to deregister immediately after the purchase (the credit card, not the friend ;).
More information available <a href="https://support.google.com/googleplay/answer/2651410?hl=en">here</a>
</li>

<li><span>No paid app access:</span> due to lack of commercial agreements or other legal or techical reasons, in-app or all app payments might not be available in your region/country. You might be able to remove restrictions by using a proxy, VPN or a Google Play mod, but depending on your technical knowledge, that might no be so easy to achieve.
<a href="https://support.google.com/googleplay/answer/143779?hl=en">Paid app supported countries</a> (there is currently no "in-app payment" supported country list)
</li>

<li><span>Credit card refused:</span> some Google's algorithms that are meant to prevent fraud might inadequately refuse your payment or you bank might refuse to authorize it. Please be sure that your buyer data is correct (location, name of the credit card same as the name of the Google account...) and that your bank allows online/international payments. If everything is fine, using another credit card or retrying a few hours later might help.
More information available <a href="https://support.google.com/googleplay/topic/3365186?hl=en">here</a> or <a href="https://support.google.com/googleplay/known-issues/1319135?hl=en">here</a>
</li>

<li><span>Payment error:</span> there are a few other reasons a payment might no work (sometimes due to your Google Play Store version, your device's firmware, your network connection or Google's own servers that might no respond correctly). Experience shows that using another credit card or retrying a few hours later might help.
More information available <a href="https://support.google.com/googleplay/topic/3365186?hl=en">here</a> or <a href="https://support.google.com/googleplay/known-issues/1319135?hl=en">here</a>
</li>

<li><span>Mistrust (Google):</span> you don't trust Google enough to give it your credit card information. Of course we've all heard of hacked websites stories and we can't promise it won't happend someday to Google, but we strongly believe they have a very secure system. Please also note that you are able to deregister your credit card information once bought so that it's not stored in Google's databases.
You can do it <a href="https://wallet.google.com/manage">here</a>
</li>

<li><span>Mistrust (us):</span> you don't know us. We are software developers. But we might as well be some blood-hungry-killing-babies-terrorists that will hack your credit card data to do all kind of illegal activities with your money. Well, good news, when you register your credit card into Google Play, you're in a secure zone which we don't have access to. We have absolutely no way of fetching your credit card information from the store. Of course if we are what you think we are, we could also have lied to you in our last statement. Well in that case... Anyway, please just note that we offer support for any bought item which doesn't work as advertised (and a refund policy if we can't help).
</li>

<li><span>Other:</span> there's another reason why you can't pay ? You can contact our technical support to let us know.
</li>

</ul>

<h3>Please note that an alternative payment method (based on Paypal) is currently being developed. Just bookmark this page and come back soon !</h3>


{% endblock %}
