<form action="{{ path('by_zipcode') }}" method="post">
    <div class="form-fields">
        <input type="text" name="zipcode" value="{{ zipcode|default('') }}" placeholder="Saisir un code postal" class="input-mini" />
        <input type="submit" value="Voir" class="btn btn-primary btn-small">
    </div>
</form>
